<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.echonet.coolmicapp"
    android:versionCode="5"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name="com.cc.echonet.coolmic.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cc.echonet.coolmic.server"
            android:label="Connection"
            android:parentActivityName="com.cc.echonet.coolmic.MainActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.cc.echonet.coolmic.audio"
            android:label="Audio"
            android:parentActivityName="com.cc.echonet.coolmic.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cc.echonet.coolmic.MainActivity" />
        </activity>
        <activity
            android:name="com.cc.echonet.coolmic.home"
            android:label="Cool Mic"
            android:parentActivityName="com.cc.echonet.coolmic.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cc.echonet.coolmic.MainActivity" />
        </activity>
        <activity
            android:name="com.cc.echonet.coolmic.general"
            android:label="General"
            android:parentActivityName="com.cc.echonet.coolmic.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cc.echonet.coolmic.MainActivity" />
        </activity>
        <activity
            android:name="com.cc.echonet.coolmic.Refresh"
            android:label="General"
            android:parentActivityName="com.cc.echonet.coolmic.MainActivity"
            android:windowSoftInputMode="adjustResize"></activity>

        <service
            android:name="com.cc.echonet.coolmic.MyService"
            android:enabled="true"
            android:stopWithTask="false" />
    </application>
</manifest>